---
title: Home
layout: default
---

<style>
orange {
  color: rgba(254, 200, 89, 1);
}
</style>

<!-- <div class=bgimage> -->

<!-- Home Intro
================================================== -->
{% if page.url == "/" %}
<div class="rounded mb-3 hero-head-computer">
  <img height="100" src="{{site.baseurl}}/assets/images/hero_storefront.png">
  </div>
<div class="rounded mb-3 hero-head-cell">
  <img height="100" src="{{site.baseurl}}/assets/images/hero_storefront_cell.png">
  </div>
<div class="rounded mb-5 hero-sub">
    <div class="row align-items-end justify-content-between">
      <div class="col-md-7">
        <h3 class="font-weight-bold mb-1 serif-font text-lg-left text-left">This month on OSOH</h3>
        <h1 class="font-weight-bold mb-1 serif-font text-lg-left text-left">Open Algorithms</h1>
          <p class="lead text-lg-left text-left"><br> Our project is to develop an MRI-based algorithm to be used by radiologists and clinicians to ensure prompt recognition and interpretation of white matter abnormalities in patients with HSPs to accelerate the diagnostic process. In this session we will discuss how this project progressed from a flowchart, to a real functional tool, and teach you how to make your own. You will learn the workflow to compile your own database, what mistakes to look out for, and how to refine your search and use large databases (e.g. scopus). We will discuss how the algorithm was created and implemented, and give an overview of the tools we used to help plan and create the algorithm. We will briefly touch on topics such as Anaconda environments, python, and python packages, while explaining why we used these tools specifically, and what are alternatives suitable for your project.
          </p>
          <br> 
          <p class="text-lg-left text-left"><b>Workshop:</b> <orange>December 18, 4 pm at de Grandpré, Mcgill University</orange> <br>
              <b>Expert: </b> <orange>Ruwan Bedeir and Aleyeldin Hassan, The White Lab</orange> </p>
        <div class="d-flex justify-content-center">
          <a href="{{site.baseurl}}/nov-openpublishing" class="btn btn-dark text-light px-5 btn-lg"
            style="background-color:rgb(255, 255, 255, .2)">More info!</a>
        </div>
    </div>
    <div class="col-md-5 text-right pl-0 pl-lg-6 mt-4 mb-3">
      <img class="intro" height="600" src="{{site.baseurl}}/assets/images/icons_big/contact.svg">
    </div>
  </div>
</div>
<!-- </div> -->
{% endif %}


<!-- Featured Posts
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include featpostbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Section Break
================================================== -->
<hr>
<h1 class="posttitle">News and Events</h1>
<!-- <img height="100" src="{{site.baseurl}}/assets/images/non_glowy_words/news_and_events.svg"> -->

<!-- All Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-12">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true or post.badge == true %}
      <div class="col-md-3 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
</section>
