---
title: Home
layout: default
---

<style>
orange {
  color: rgba(254, 200, 89, 1);
}
</style>

<!-- <div class=bgimage> -->

<!-- Home Intro
================================================== -->
{% if page.url == "/" %}
<div class="rounded mb-3 hero-head-computer">
  <img height="100" src="{{site.baseurl}}/assets/images/hero_storefront.png">
  </div>
<div class="rounded mb-3 hero-head-cell">
  <img height="100" src="{{site.baseurl}}/assets/images/hero_storefront_cell.png">
  </div>
<div class="rounded mb-5 hero-sub">
    <div class="row align-items-end justify-content-between">
      <div class="col-md-7">
        <h3 class="font-weight-bold mb-1 serif-font text-lg-left text-left">This month on OSOH</h3>
        <h1 class="font-weight-bold mb-1 serif-font text-lg-left text-left">How open is my science?</h1>
          <p class="lead text-lg-left text-left"><br> In this workshop we will survey existing and emerging bibliometric tools that allow scientists to evaluate their published works (as well as manuscripts still in preparation) for adherence to different rubrics of open science practices. We'll also discuss the dangers of "Open Science Shaming" and how best to promote open science practices in fields and labs that have been slower to embrace them.
          </p>
          <br> 
          <p class="text-lg-left text-left"><b>Workshop:</b> <orange>June 13, 4 pm at Jeanne Timmins Amphitheatre, MNI </orange> <br>
              <b>Expert: </b> <orange>Adam Thomas, Data Science and Sharing Team, NIMH</orange> </p>
        <div class="d-flex justify-content-center">
          <a href="{{site.baseurl}}/june-special-lecture" class="btn btn-dark text-light px-5 btn-lg"
            style="background-color:rgb(255, 255, 255, .2)">More info!</a>
        </div>
    </div>
    <div class="col-md-5 text-right pl-0 pl-lg-6 mt-4 mb-3">
      <img class="intro" height="600" src="{{site.baseurl}}/assets/images/icons_big/data_visualization.svg">
    </div>
  </div>
</div>
<!-- </div> -->
{% endif %}


<!-- Featured Posts
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include featpostbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Section Break
================================================== -->
<hr>
<h1 class="posttitle">News and Events</h1>
<!-- <img height="100" src="{{site.baseurl}}/assets/images/non_glowy_words/news_and_events.svg"> -->

<!-- All Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-12">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-3 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
</section>
