---
title: Home
layout: default
---

<!-- <div class=bgimage> -->

<!-- Home Intro
================================================== -->
{% if page.url == "/" %}
<div class="rounded mb-3 hero-head">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-12">
      <!-- <h2 class="font-weight-bold mb-3 serif-font text-center">This month:</h2> -->
    </div>
  </div>
</div>
<div class="rounded mb-5 hero-sub">
    <div class="row align-items-end justify-content-between">
    <div class="col-md-6">
      <h6 class="font-weight-bold mb-1 serif-font text-lg-left text-center">This month:</h6>
      <img height="100" src="{{site.baseurl}}/assets/images/glowy_words/pre-registration.svg">
      <!-- <h1 class="font-weight-bold mb-4 serif-font text-lg-left text-center">Pre-Registration</h1> -->
      <h6 class="lead mb-4 text-lg-left text-center">> What is it?<br>> Why should I?<br>> How do I start?<br>> What about
        Registered Reports?</h6>
        <div class="d-flex justify-content-center">
          <a href="{{site.baseurl}}/about" class="btn btn-light text-dark px-5 btn-lg">Learn more!</a>
        </div>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/icons/resources.svg">
    </div>
  </div>
</div>
<!-- </div> -->
{% endif %}


<!-- Featured Posts
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include featpostbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Section Break
================================================== -->
<hr>
<h2 class="posttitle">News and Events</h2>
<!-- <img height="100" src="{{site.baseurl}}/assets/images/non_glowy_words/news_and_events.svg"> -->

<!-- All Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-12">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-3 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
</section>